{{ define "about" }}
	<!-- start about -->
		<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounceIn">
					<h2>Tentang Kami</h2>
					<hr>
					<h4>Beberapa hal tentang masa lalu kita...</h4>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<h3 class="about-title">SO (Sending Organization)</h3>
					<p align="justify">Pemagangan WNI ke Jepang disepakati kedua negara tahun 1993 dengan tujuan untuk melatih pemuda Indonesia di Jepang dan setelah selesai pemagangan kembali ke Indonesia untuk membangun Indonesia. Pola perekrutan skema pemagangan dilakukan melalui kerja sama antara Lembaga Pelatihan Kerja (LPK) yang memiliki izin pengiriman (Sending Organization/SO) di Indonesia dengan organisasi penerima (AO) di Jepang. AO selanjutnya menempatkan pemagang di perusahaan-perusahaan pengguna (implementing) di seluruh Jepang.</p>
					<p align="justify">Skema magang ini mengharuskan calon pemagang untuk mendapatkan pelatihan terlebih dahulu di Indonesia selama 3 bulan serta 1 bulan di Jepang khususnya untuk penguasaan Bahasa Jepang. Sesuai ketentuan ketenagakerjaan di Jepang, pemagang di Jepang maksimal 5 tahun, tidak boleh berpindah sektor pekerjaan dan perusahaan dan tidak boleh membawa keluarga. Bagi yang telah menyelesaikan kontrak pemagangan dan kembali ke Indonesia, tidak boleh kembali ke Jepang sebagai trainee.</p>
					<p align="justify">Instansi berwenang di Jepang dalam Pemagangan adalah Japan International Training Cooperation Organization (JITCO) sebagai instansi mempromosikan dan Organization for Technical Intern Training (OTIT) sebagai Pengawas.</p>
					<a href="https://kemlu.go.id/tokyo/id">https://kemlu.go.id/tokyo/id</a>
				</div>
			</div>

			<div style="margin-top: 50px;" class="row wow fadeInUp">
				<div class="col-md-12" data-wow-delay="0.6s">
					<img src="/static/images/about1.jpg" class="img-responsive" alt="about img">
				</div>
			</div>

			<div style="margin-top: 50px;" class="row">
				<div class="col-md-12 wow bounceIn">
					<h2>Visi & Misi</h2>
					<hr>
				</div>
			</div>

			<div class="container_about wow fadeInUp">
				<div class="box_about wow fadeInUp">
					<div class="icon">💡</div>
					<div class="title">Visi Kita</div>
					<div class="text">
						<p align="justify">Meciptakan pelatihan kerja yang profesional dan berkualitas untuk dapat mewujudkan Sumber Daya Manusia yang terampil, ahli, produktif, kompeten dan dapat bersaing di era globalisasi.</p>
					</div>
				</div>
				<div class="box_about wow fadeInUp">
					<div class="icon">🎯</div>
					<div class="title">Misi Kita</div>
					<div class="text">
						<ul>
							<li align="justify">Memberdayakan sumber daya manusia Indonesia melalui perjalanan dan pengalaman hidup di Jepang yang dapat mengubah perspektif kehidupan menjadi lebih baik.</li>
							<li align="justify">Meningkatkan kualitas pendidikan dan kompetensi tenaga kerja melalui berbagai jenis pelatihan ketrampilan dan Bahasa Jepang</li>
							<li align="justify">Meningkatkan kualitas dan kwantitas tenaga kerja dalam rangka mengurangi pengangguran dan mendorong berkembangnya produktifitas tenaga kerja.</li>
							<li align="justify">Memperkuat hubungan internasional, globalisasi, kontribusi ke masyarakat internasional.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 wow bounceIn">
					<h2>Pesan dari CEO</h2>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<p align="justify">LPK Asta Karya adalah lembaga pelatihan kerja untuk mempersiapkan peserta magang agar mampu bertahan hidup di negara Jepang. Tidak mudah hidup di negara canggih ini, perlu keahlian dan kemampuan khusus sesuai dengan bidang pekerjaan yang akan menjadi tempat bekerja. Adapun materi pelatihan kerja yang kami berikan tidak hanya teori melainkan praktik sehingga peserta yang akan magang di jepang memiliki kesiapan yang matang.</p>
					<p align="justify">Kurikulum yang kami suguhkan terbagi menjadi tiga bagian yakni materi dasar, materi inti, dan materi khusus. Materi dasar terdiri dari keterampilan bahasa, pemahaman pola hidup di jepang, latihan fisik, serta materi survival life in Japan. Materi inti terdiri dari pengetahuan dalam bagaimana bekerja dan me- mahami setiap bidang yang akan digeluti di tempat peserta magang. Baik dalam sistem kerja dan pemahaman etos kerja masyarakat jepang. Materi khusus terdiri materi keterampilan di perusahaan peserta magang.</p>
					<p align="justify">Kelebihan-kelebihan dari program ini :</p>
					<ul>
						<li>Peningkatan dan perbaikan taraf hidup pemagang, melalui penerapan kemampuan keterampilan yang diperolehnya setelah kembali ke negaranya.</li>
						<li>Peningkatan kontrol kualitas, peningkatan disiplin, kesadaran akan biaya di perusahaan tempat pemagang nantinya bekerja.</li>
						<li>Memperkuat hubungan internasional, globalisasi, kontribusi ke masyarakat internasional.</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 wow bounceIn">
					<h2>Struktur Organisasi</h2>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<p align="justify">Sebagai salah satu lembaga pelatihan kerja kami memiliki waktu cukup singkat untuk memberikan pembekalan berupa pendidikan mental, kedisiplinan, bahasa dan budaya kerja kepada siswa. Mengetahui hal ini kami membentuk sebuah tim yang diisi oleh para professional untuk mendapatkan hasil maksimal dari pendidikan yang kami berikan kepada siswa-siswi LPK Asta Karya. Para professional yang mendidik mental dan kedisiplinan ini adalah staff dengan pengalaman hidup di Jepang minimal 1 (satu) tahun, sedangkan staff yang mendidik bahasa dan budaya kerja Jepang adalah lulusan yang bersetifikasi Bahasa Jepang minimal N4 (Level 4).</p>
					<p align="justify">Tim ini merupakan gambaran lembaga pelatihan kerja yang modern, dimana LPK harus mampu menciptakan sebuah sistem yang mampu mengakomodir semua aspek dan masukan dari semua unitnya berbasiskan demokrasi, sekaligus berjalan beriringan dengan manajemen modern untuk mendapatkan hasil lulusan yang berkualitas.</p>
				</div>
			</div>

			<div class="row wow fadeInUp">
				<div class="col-md-12" data-wow-delay="0.6s">
					<img src="/static/images/structure_organization.png" class="img-responsive" alt="about img">
				</div>
			</div>
		</div>
	</section>
	<!-- end about -->
{{ end }}
