<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
        <meta charset="utf-8">
        <title>{{ .Header.Title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="LPK Asta Karya official documentation portal">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body class="site" data-spy="scroll" data-offset="70" data-target="#main-nav">
        <div class="preloader">
                <div class="sk-spinner sk-spinner-rotating-plane"></div>
        </div>
        <header class="site-header">
                <nav class="navbar navbar-fixed-top custom-navbar">
                        <div class="container">
                                <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="main-nav">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                        </button>
                                        <a href="/" class="navbar-brand logo-wrapper">
                                                <img src="/static/images/asta-karya.png" alt="LPK Asta Karya" class="navbar-brand-logo">
                                                <span class="navbar-brand-text">LPK Asta Karya</span>
                                        </a>
                                </div>
                                <div class="collapse navbar-collapse" id="main-nav">
                                        <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home" class="smoothScroll">Beranda</a></li>
                                                <li><a href="#foreword" class="smoothScroll">Kata Pengantar</a></li>
                                                <li><a href="#profile" class="smoothScroll">Profil</a></li>
                                                <li><a href="#background" class="smoothScroll">Latar Belakang</a></li>
                                                <li><a href="#vision" class="smoothScroll">Visi &amp; Misi</a></li>
                                                <li><a href="#organization" class="smoothScroll">Organisasi</a></li>
                                                <li><a href="#training-center" class="smoothScroll">Training Center</a></li>
                                                <li><a href="#curriculum" class="smoothScroll">Kurikulum</a></li>
                                                <li><a href="#recruitment" class="smoothScroll">Rekrutmen</a></li>
                                                <li><a href="#resources" class="smoothScroll">Media</a></li>
                                                <li><a href="/galery">{{ .Header.Galery }}</a></li>
                                                <li class="dropdown nav-language">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">🌐</a>
                                                        <ul class="dropdown-menu">
                                                                <li><a href="/?lang=id">🇮🇩 Indonesia</a></li>
                                                                <li><a href="/?lang=jp">🇯🇵 日本語</a></li>
                                                        </ul>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </nav>
        </header>

        <main id="content" class="site-content">
                {{ template "content" . }}
        </main>

        <footer class="site-footer">
                <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                        <p class="footer-text">© 2024 LPK Asta Karya. All rights reserved.</p>
                                        <div class="footer-links">
                                                <a href="#home" class="footer-link smoothScroll">Beranda</a>
                                                <a href="#resources" class="footer-link smoothScroll">Media</a>
                                                <a href="/galery" class="footer-link">{{ .Header.Galery }}</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </footer>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/custom.js"></script>
</body>
</html>
