{{ define "media" }}
    <!-- start media -->
    <section id="media">
        <div class="container">
            <div class="row text-center wow bounceIn">
                <div class="col-md-12">
                    <h2>Galeri &amp; Liputan Media</h2>
                    <hr>
                    <p class="lead">Kumpulan dokumentasi kegiatan, testimoni peserta, dan publikasi resmi LPK Asta Karya.</p>
                </div>
            </div>

            <div class="row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-8 col-sm-12">
                    <div class="media-frame">
                        <iframe width="100%" height="420"
                                src="https://www.youtube.com/embed/kLb9eDPrtDI?si=Aedv2J3pH015a_AK"
                                title="Profil LPK Asta Karya"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"></iframe>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="media-highlight">
                        <h4>Highlight Video</h4>
                        <ul>
                            <li>Perkenalan fasilitas training center Bandung.</li>
                            <li>Testimoni peserta dan perusahaan mitra.</li>
                            <li>Cuplikan kegiatan kedisiplinan dan pembelajaran bahasa Jepang.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row wow fadeInUp" data-wow-delay="0.5s" style="margin-top: 40px;">
                <div class="col-md-4 col-sm-6">
                    <div class="media-card">
                        <img src="/static/images/pelatihan1.jpg" class="img-responsive" alt="Kegiatan kelas bahasa">
                        <h5>Kelas Bahasa &amp; Budaya</h5>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="media-card">
                        <img src="/static/images/mission.png" class="img-responsive" alt="Latihan fisik peserta">
                        <h5>Pembinaan Fisik</h5>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="media-card">
                        <img src="/static/images/portfolio-img-1.jpg" class="img-responsive" alt="Upacara pelepasan peserta">
                        <h5>Upacara Keberangkatan</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end media -->
{{ end }}
