{{ define "program" }}
<!-- start program -->
<section id="program">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wow bounceIn">
				<h2>Program Magang</h2>
				<hr>
			</div>
			
			<div class="row">
				<div class="col-md-6 col-sm-6 wow wow fadeInUp" data-wow-delay="0.6s">
					<div class="about-wrapper">
						<img src="/static/images/program1.jpg" class="img-responsive" alt="about img">
						<h3>Jepang</h3>
						<h5>Tim Magang</h5>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<h3 class="about-title">Program Magang</h3>
					<p align="justify">Pemagangan Luar Negeri adalah bagian dari sistem pelatihan kerja yang diselenggarakan secara utuh dan terpadu di Indonesia dan di luar negeri oleh lembaga pelatihan kerja atau perusahaan atau instansi pemerintah atau lembaga pendidikan di bawah bimbingan dan pengawasan instruktur dan/atau pekerja yang lebih berpengalaman, dalam proses produksi barang dan/atau jasa dalam rangka menguasai keterampilan atau keahlian tertentu (Permenakertrans Nomor : Per. 08/Men/V/2008).</p>
					<p align="justify">Dalam saat ini kami sebagai lembaga pengirim hanya bekerjasama dengan Negara Jepang sebagai negara tujuan untuk Magang.</p>
					<p align="justify">Pelaksanaan program pemagangan di Jepang dilaksanakan selama 3 (tiga) tahun dan dapat diperpanjang sampai 5 (lima) tahun, yang terdiri dari be- berapa tahap, yaitu:</p>
					<ul>
						<li>Program pemagangan bulan pertama di Jepang disebut masa training atau masa Jisshusei, yang artinya "masa berlatih sambil bekerja". Peserta masih berlatih penyesuaian di training center.</li>
						<li>Bulan ke-2 sampai dengan bulan ke-12, akan dievaluasi kompetensinya, dan untuk dapat melanjutkan ke tahap berikutnya, peserta harus lulus ujian yang diadakan pada akhir tahun pertama.</li>
						<li>Program pemagangan bulan kedua sampai dengan tahun ketiga disebut technical intern training atau disebut juga masa Jisshusei. Pada masa Jisshusei ini peserta dilindungi oleh Undang-Undang Perburuhan di Jepang, dan diperbolehkan kerja lembur.</li>
						<li>Program pemagangan dapat diperpanjang menjadi 5 tahun, apabila perusahaan dan peserta sepakat untuk memperpanjang masa praktek kerja.</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<h3 class="about-title">Jurusan Keahlian Magang & Penempatan</h3>
					<p align="justify">Pada data berikut ini adalah jurusan keahlian magang dan penempatan magang yang sudah dan sedang berlangsung sampai saat ini. Data sewaktu-waktu dapat berubah sesuai dengan data terkini.</p>
					<p align="justify">Jurusan keahlian pemagangan terbanyak saat ini adalah pada jurusan pengolahan makanan dengan jumlah total siswa 163 siswa. Diikuti dengan konstruksi bangunan di 121 siswa dan urutan ketiga jatuh pada care worker dengan 43 siswa.</p>
				</div>
				<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
					<span class="text-uppercase">Pengolahan Makanan</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
					</div>
					<span class="text-uppercase">Konstruksi Bangunan</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
					</div>
					<span class="text-uppercase">Care Worker</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
					</div>
					<span class="text-uppercase">Machinery</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
					</div>
					<span class="text-uppercase">Industrial Packaging</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
					</div>
					<span class="text-uppercase">Textile</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
					<span class="text-uppercase">Pengelasan</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<h3 class="about-title">Alur Pemagangan</h3>
					<ul>
						<li>Perekrutan
							<ul>
								<li>LPK Asta Karya mengadakan diklat berupa pelatihan Budaya dan Bahasa Jepang serta membangun mental kepada siswa selama 3 (tiga) sampai 4 (empat) bulan di Indonesia, Bandung (tempat pelatihan LPK Asta Karya)</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>Pelatihan
							<ul>
								<li>LPK Asta Karya mengadakan diklat berupa pelatihan Budaya dan Bahasa Jepang serta membangun mental kepada siswa selama 3 (tiga) sampai 4 (empat) bulan di Indonesia, Bandung (tempat pelatihan LPK Asta Karya)</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>Dokumen
							<ul>
								<li>Pengurusan dokumen siswa untuk keberangkatan diproses selama siswa menjalani diklat di LPK Asta Karya.</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>Magang
							<ul>
								<li>Pengurusan dokumen siswa untuk keberangkatan diproses selama siswa menjalani diklat di LPK Asta Karya.</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>Pasca Magang
							<ul>
								<li>Pengurusan dokumen siswa untuk keberangkatan diproses selama siswa menjalani diklat di LPK Asta Karya.</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-6 wow wow fadeInUp" data-wow-delay="0.6s">
					<div class="about-wrapper">
						<img src="/static/images/program2.jpg" class="img-responsive" alt="about img">
						<h3>Jepang</h3>
						<h5>Tim Magang</h5>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 wow bounceIn">
					<h2>Persyaratan Umum</h2>
					<hr>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<h3 class="about-title">SO (Sending Organization)</h3>
					<p align="justify">Untuk dapat mengikuti program magang ke Jepang, peserta wajib memenuhi persyaratan yang diberikan oleh pihak perusahaan. Setiap perusahaan memiliki persyaratan yang berbeda-beda tergantung dari permintaan dan kebutuhan. Selain persyaratan dari perusahaan adapula persyaratan umum dari kami di bawah ini :</p>
				</div>
			</div>

			<div class="container_table">
				<div class="header_table">Syarat Umum Pemagangan ke Jepang (Fisik)</div>
				<table>
					<tr>
						<th>Laki-Laki</th>
						<th>Perempuan</th>
					</tr>
					<tr>
						<td>Kondisi mata normal (tidak berkaca mata) dan tidak buta warna (wajib melampirkan hasil tes buta warna)</td>
						<td>Kondisi mata normal (tidak berkaca mata) dan tidak buta warna (wajib melampirkan hasil tes buta warna)</td>
					</tr>
					<tr>
						<td>Tidak memiliki penyakit menular atau penyakit dalam yang berbahaya (wajib melampirkan hasil medical check up)</td>
						<td>Tidak memiliki penyakit menular atau penyakit dalam yang berbahaya (wajib melampirkan hasil medical check up)</td>
					</tr>
					<tr>
						<td>Tidak memiliki tato dan atau bekas tato</td>
						<td>Tidak memiliki tato dan atau bekas tato</td>
					</tr>
					<tr>
						<td>Tidak memiliki tindik dan atau bekas tindik</td>
						<td>-</td>
					</tr>
					<tr>
						<td>Tinggi badan minimal 160cm</td>
						<td>Tinggi badan minimal 150cm</td>
					</tr>
					<tr>
						<td>Berat badan ideal, minimal 56kg</td>
						<td>Berat badan ideal, minimal 50kg</td>
					</tr>
					<tr>
						<td>Usia 18-30 tahun</td>
						<td>Usia 18-28 tahun</td>
					</tr>
				</table>
			
				<p class="note">
					* Tergantung pihak perusahaan, ada kalanya tidak bermasalah menggunakan kaca mata<br>
					** Tinggi badan tergantung pada perusahaan<br>
					*** Usia tergantung permintaan dari pihak perusahaan
				</p>
			
				<div class="sub-header_table">Syarat Umum Pemagangan ke Jepang (Dokumen)</div>
				<table border="1">
					<tr>
						<th>Laki-Laki</th>
						<th>Perempuan</th>
					</tr>
					<tr>
						<td colspan="2">
							Memiliki kelengkapan data pribadi (KTP, Akta Kelahiran, Kartu Keluarga, dan Ijazah Terakhir), serta Paspor (jika sudah memiliki Paspor)
						</td>
					</tr>
					<tr>
						<td colspan="2">
							Pendidikan minimal Sekolah Menengah Atas (SMA) sederajat (Madrash Aliyah (MA) / Sekolah Menengah Kejuruan (SMK) / Madrasah Aliyah Kejuruan (MAK) / Paket C
						</td>
					</tr>
					<tr>
						<td colspan="2">
							Memiliki basic Bahasa Jepang*
						</td>
					</tr>
					<tr>
						<td colspan="2">
							Memiliki sertifikasi keterampilan khusus**
						</td>
					</tr>
					<tr>
						<td colspan="2">
							*) Basic Bahasa Jepang yang dimaksudkan disini adalah peserta sudah menguasai huruf Hiragana dan Katakana. Jika mengacu pada buku Minna no Nihon-go 1, peserta sudah menempuh pembelajaran sampai Bab 15 dan sudah lancar untuk Jikoshoukai (memperkenalkan diri)
**) Sertifikasi khusus ini bergantung pada perusahaan dan hanya beberapa jenis kerja saja
						</td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>
</section>
<!-- end program -->

{{ end }}