{{ define "training" }}
	<!-- start pelatihan -->
	<section id="training">
		<div class="container">
			<div class="col-md-12 text-center wow bounceIn">
				<h2>Program</h2>
				<hr>
			</div>
			
			<div class="row">
				<div class="col-md-6 col-sm-6 wow wow fadeInUp" data-wow-delay="0.6s">
					<div class="about-wrapper">
						<img src="/static/images/program1.jpg" class="img-responsive" alt="about img">
						<h3>Jepang</h3>
						<h5>Tim Magang</h5>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<h3 class="about-title">Training Center Bandung</h3>
					<p align="justify">Dikarenakan kapasitas yang terbatas di LPK Asta Karya Jakarta maka kami membuka khusus training center yang berlokasi di Kota Bandung, Indonesia pada November 2022. Terdiri dari dua bangunan dengan spesifikasi sebagai berikut:</p>
					<p align="justify">Bangunan 1 memiliki kapasitas 45 orang, memiliki :</p>
					<table style="border: none;">
						<tr>
							<td style="border: none; text-align: left;">1 Ruang Kerja</td>
						  	<td style="border: none; text-align: left;">6 Shower Room</td>
						</tr>
						<tr>
						  	<td style="border: none; text-align: left;">4 Ruang Kelas</td>
						  	<td style="border: none; text-align: left;">2 Kamar Mandi (Toilet)</td>
						</tr>
						<tr>
							<td style="border: none; text-align: left;">1 Ruang Tamu</td>
							<td style="border: none; text-align: left;">1 Dapur dan Ruang Makan</td>
						</tr>
						<tr>
							<td style="border: none; text-align: left;">5 Ruang Tidur</td>
						</tr>
					  </table>

					  <p align="justify">Bangunan 2 memiliki kapasitas 30 orang, memiliki :</p>
						<table style="border-collapse: collapse;">
							<tr>
								<td style="border: none; text-align: left;">1 Ruang Kerja</td>
								<td style="border: none; text-align: left;">3 Ruang Tidur</td>
							</tr>
							<tr>
								<td style="border: none; text-align: left;">2 Ruang Kelas</td>
								<td style="border: none; text-align: left;">3 Kamar Mandi</td>
							</tr>
							<tr>
								<td style="border: none; text-align: left;">1 Ruang Tamu</td>
								<td style="border: none; text-align: left;">1 Dapur dan Ruang Makan</td>
							</tr>
					  </table>
					  <p>Alamat lengkap : Griya Cigadung Baru No.A2, Jl. Cigadung Raya Timur, Cigadung, Cibeunying Kaler, Kota Bandung, Jawa Barat, 40191</p>
				</div>
			</div>

			<div class="col-md-12 text-center wow bounceIn">
				<h2>Sistem Pelatihan</h2>
				<hr>
			</div>
			
			<div class="row">
				<div class="col-md-12 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<p align="justify">Pelatihan atau diklat di LPK Asta Karya berlangsung 3 (tiga) sampai 4 (empat) bulan. Siswa akan tinggal bersama dalam 1 (satu) asrama (asrama laki-laki dan perempuan terpisah) selama menjalani masa diklat. Selama masa diklat siswa akan diberikan pelatihan mental, kedisiplinan, budaya dan Bahasa Jepang.</p>
				</div>
			</div>

			<div style="margin-top: 30px;" class="row wow fadeInUp">
				<div class="col-md-12" data-wow-delay="0.6s">
					<img src="/static/images/pelatihan4.png" class="img-responsive" alt="about img">
				</div>
			</div>

			<div class="col-md-12 text-center wow bounceIn">
				<h2>Jadwal Umum Kegiatan Pelatihan</h2>
				<hr>
			</div>
			
			<div style="margin-top: 30px;" class="row wow fadeInUp">
				<div class="col-md-12" data-wow-delay="0.6s">
					<img src="/static/images/pelatihan5.jpg" class="img-responsive" alt="about img">
				</div>
			</div>
		</div>
	</section>
	<!-- end pelatihan -->
{{ end }}